.top {
  padding: 24px 0 36px;
}
@media (max-width: 768px) {
  .top {
    padding: 16px 0;
  }
}
.topContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
@media (max-width: 540px) {
  .topContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
.topPhone {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .topPhone {
    font-size: 12px;
    line-height: 15px;
  }
}
@media (max-width: 540px) {
  .topPhone {
    display: none;
  }
}
.topLogo {
  justify-self: center;
}
@media (max-width: 768px) {
  .topLogo {
    width: 154px;
  }
}
@media (max-width: 540px) {
  .topLogo {
    justify-self: start;
    width: 124px;
  }
}
.topNavigation {
  justify-self: end;
}
.topNavList {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media (max-width: 540px) {
  .topNavList {
    gap: 16px;
  }
}
.topLink {
  position: relative;
  transition: color 0.3s ease-in-out;
}
.topLink:hover {
  color: #8a8a8a;
}
.topLinkCount {
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  color: #ffffff;
  top: 0;
  right: -6px;
  background-color: #000000;
  text-align: center;
  font-weight: 600;
  font-size: 9px;
  line-height: 18px;
}

.like {
  color: transparent;
}
.like:hover {
  color: crimson;
}